In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import csv
f= csv.writer(open("CWG.csv", 'w'))
f.writerow(['pos', 'country', 'gold', 'silver', 'bronze', 'total'])
url = 'https://sports.ndtv.com/commonwealth-games-2018/medals-tally'

r = requests.get(url)
soup = BeautifulSoup(r.text, 'html.parser')

cwg_table = soup.find('tbody')
rows = cwg_table.find_all('tr')

In [2]:
CWG_dic = {}
POS = []
COUNTRY = []
GOLD = []
SILVER = []
BRONZE = []
TOTAL = []
    
for item in rows:
    cells = item.find_all('td')
    pos = cells[0].text.strip()
    POS.append(pos)
    country = cells[1].text.strip()
    COUNTRY.append(country)
    gold = cells[2].text.strip()
    GOLD.append(gold)
    silver = cells[3].text.strip()
    SILVER.append(silver)
    bronze = cells[4].text.strip()
    BRONZE.append(bronze)
    total = cells[5].text.strip()
    TOTAL.append(total)
CWG_dic = {"POS":POS, "Country":COUNTRY, "Gold":GOLD, "Silver":SILVER, "Bronze":BRONZE, "Total":TOTAL}

In [3]:
df = pd.DataFrame(CWG_dic, columns = CWG_dic.keys())

In [4]:
df['Total'] = pd.to_numeric(df['Total'])

In [5]:
from plotnine import *

C:\Users\Jignesh\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [6]:
index = ['Gold', 'Silver', 'Bronze', 'Total']
for col in index:
    df[col] = pd.to_numeric(df[col])
df['Country'] = df['Country'].astype('category')

In [7]:
#melting 3 columns gold, silver, bronze into single column : 'Medal'

df_new = pd.melt(df, id_vars=['POS', 'Country'], value_vars = ['Gold', 'Silver', 'Bronze'], var_name = 'Medal', value_name='No_ofMedal')

In [9]:
df_new['Medal'] = df_new['Medal'].astype('category')
df_new['Country']= df_new['Country'].astype('category')

In [11]:
df

   POS                           Country  Gold  Silver  Bronze  Total
0    1                         Australia    74      55      58    187
1    2                           England    42      40      41    123
2    3                             India    25      16      18     59
3    4                            Canada    15      39      27     81
4    5                      South Africa    13      11      13     37
5    6                       New Zealand    12      16      14     42
6    7                             Wales    10      12      14     36
7    8                          Scotland     9      13      21     43
8    9                           Nigeria     9       8       6     23
9   10                            Cyprus     8       1       5     14
10  11                           Jamaica     7       9      10     26
11  12                          Malaysia     5       5      13     23
12  13                             Kenya     4       7       6     17
13  14                         Singapore     3       2       2      7
14  15                          Botswana     3       1       1      5
15  16                            Uganda     3       0       2      5
16  17                             Samoa     2       3       0      5
17  18               Trinidad And Tobago     2       1       0      3
18  19                  Northern Ireland     1       7       4     12
19  20                           Bahamas     1       3       0      4
20  21                  Papua New Guinea     1       2       0      3
21  22                          Pakistan     1       0       4      5
22  23                              Fiji     1       0       2      3
23  24                           Grenada     1       0       1      2
24  25                           Bermuda     1       0       0      1
25  25            British Virgin Islands     1       0       0      1
26  25                            Guyana     1       0       0      1
27  25                           Namibia     1       0       0      1
28  25                       Saint Lucia     1       0       0      1
29  30                        Bangladesh     0       2       0      2
..  ..                               ...   ...     ...     ...    ...
41  39                        Seychelles     0       0       1      1
42  39                   Solomon Islands     0       0       1      1
43  44                          Anguilla     0       0       0      0
44  44               Antigua And Barbuda     0       0       0      0
45  44                          Barbados     0       0       0      0
46  44                            Belize     0       0       0      0
47  44                            Brunei     0       0       0      0
48  44                    Cayman Islands     0       0       0      0
49  44                  Falkland Islands     0       0       0      0
50  44                         Gibraltar     0       0       0      0
51  44                          Guernsey     0       0       0      0
52  44                            Jersey     0       0       0      0
53  44                          Kiribati     0       0       0      0
54  44                           Lesotho     0       0       0      0
55  44                            Malawi     0       0       0      0
56  44                        Montserrat     0       0       0      0
57  44                        Mozambique     0       0       0      0
58  44                              Niue     0       0       0      0
59  44                            Rwanda     0       0       0      0
60  44                      Saint Helena     0       0       0      0
61  44              Saint Kitts and Nevi     0       0       0      0
62  44  Saint Vincent And The Grenadines     0       0       0      0
63  44                      Sierra Leone     0       0       0      0
64  44                         Swaziland     0       0       0      0
65  44                          Tanzania     0       0       0      0
66  44                        The Gambia     0       0       0      0
67  44                             Tonga     0       0       0      0
68  44          Turks And Caicos Islands     0       0       0      0
69  44                            Tuvalu     0       0       0      0
70  44                            Zambia     0       0       0      0

[71 rows x 6 columns]